<div ng-if="!$ctrl.uid">
    <h3>Login</h3>
    Email <input type="text" ng-model="$ctrl.user.email">
    Password <input type="password" ng-model="$ctrl.user.password">
    <br>
    <button ng-click="$ctrl.newUser()">Create Account</button>
    <button ng-click="$ctrl.loginUser()">Login</button>
</div>
<div ng-if="$ctrl.updateForm">
    Display Name <input type="text" ng-model="$ctrl.newDisplayName">
    <br>
    <button ng-click="$ctrl.updateUser()">Save</button>
    <button ng-click="$ctrl.closeUpdate()">Cancel</button>
</div>
<div ng-if="$ctrl.uid">
    <h3>Welcome Back {{$ctrl.displayName}}</h3>
    <button ng-click="$ctrl.logoutUser()">Logout</button>
    <button ng-click="$ctrl.updateForm = true">Update Profile</button>
</div>